*{
	margin: 0;
	padding: 0;
}

.clearfix::after {
	content: "";
	clear: both;
	display: block;
}

/*ヘッダー*/

header{
	width: 100%;
	height: 70px;
	background-color: #EC715F;
	position: fixed;
	z-index: 100;
}

.nav{
	width: 100%;
	height: 60px;
	margin: 0 auto;
	text-align: center;
}

header .fa{
	display: none;
}

.title{
	float: left;
	line-height: 20px;
	color: #FAFAFA;
}

.top-menu{
	float: right;
}

.top-menu-item{
	float: left;
	padding: 0 30px;
	line-height: 70px;
	list-style-type: none;
}

.top-menu-item a{
	text-decoration: none;
	color: #FAFAFA;
}

/*#containerに高さを与える*/
#container{
    height: 500px; /*/ここの高さはいくつでも構いません/*/
    z-index: 1;
    padding-top: 70px;
}

/*メインヴィジュアル*/

.main-visual{
	padding-top: 70px;
	height: 650px;
	color: white;
	background-size: 100% 100%;
	background-image: url(../img/mv.png);
}	

.main-visual-contents{
	text-align: center;
	padding-top: 200px;
}

.main-visual-text1{
	font-size: 60px;
}

.main-visual-text2{
	padding-top: 10px;
}

/*ポートフォリオ*/

.contents{
	width: 1024px;
	margin: 0 auto;
}

.sub-contents1{
	background-color: #f5f5f5;
	padding: 90px 0;

}

.sub-menu-item{
	text-align: center;
}

.sub-text1{
	font-size: 28px;
	padding-bottom: 8px;
}

.sen{
	width: 100px;
	height: 2px;
	margin: 0 auto;
	background-color: #EC715F;
}

.sub-text2{
	margin: 30px auto;
}

.container{
	width:920px;
	margin: 0 auto;
}

.box{
	float: left;
	width: 300px;
	height: 300px;
	background-size: 120% 100%;
	background-position: center;
}

.img1{
	background-image: url(../img/sketch.jpg);
}

.img2{
	background-image: url(../img/websuku.png);
	margin: 0 10px;
}

.img3{
	background-image: url(../img/write.jpg);
}

.img4{
	background-image: url(../img/webcamp.png);
}

.img5{
	background-image: url(../img/talk.jpg);
	margin: 0 10px;
}

.img6{
	background-image: url(../img/webcamp-mother.png);
}

.upbox{
	height: 300px;
	margin-bottom: 10px;
}

 .portfolio-text{
	display: none;
	width: 300px;
	height: 300px;
	text-align: center;
	line-height: 300px;
	font-size: 25px;
	color: white;
	background-color: rgba(0,0,0,0.5);
}

/*フィーチャー*/

.sub-contents2{
	padding: 90px 0;
}

.container2{
	width: 1020px;
	margin: 0 auto;
}

.box1{
	float: left;
	width: 320px;
	margin: 0 10px;
	text-align: center;
}

.fa{
	font-size: 60px;
	padding: 0 5px;
}

 .sub2-text{
 	padding: 10px 0;
 }

.strengh-text{
	text-align: left;	
}

/*プロフィール*/

.plofile-contents{
	margin: 0 auto;
}

.circle{
	width: 250px;
	height:250px;
	border-radius: 50%;
	background-image: url(../img/my-icon.jpg);
	margin: 0 auto;
}

.profile-img{
	float: left;
	width: 50%;
}

.plofile-name{
	float: left;
	width: 50%;
}

.plofile-title{
	padding-bottom: 10px;
}

.plofile-text1 {
	padding-bottom: 30px;
}

/*コンテンツ*/
.contents-title{
	padding-bottom: 5px;
}

.contents-box{
	width: 50%;
	margin: 0 auto;
}

.contents-box-1{
	float: left;
}

.contents-box-2{
	float: right;
}

.down{
	padding-bottom: 20px;
}

.add{
	text-decoration: underline;
}

/*フッター*/
.footer{
	height: 60px;
	line-height: 60px;
	color: #FAFAFA;
	background-color: #EC715F;
	text-align: center;
}


/*レスポンシブ対応*//*レスポンシブ対応*//*レスポンシブ対応*/
@media (max-width: 768px){

/*ヘッダー*/

	header .fa{
		float: right;
		display: block;
		width: 50px;
		height: 50px;
		margin: 8px 30px 0 0;
		color: white;
		position: relative;
		z-index: 100;
	}

/*メインヴィジュアル*/
	.main-visual{
		background-image: url(../img/code.png);
	}	

	.top-menu{
		float: none;
		margin-top: 70px;
	}

	.top-menu-item{
		display: none;
		float: none;
		background-color: #EC715F;
		border: 1px solid white;
	}
	
    .box{
        float: none;
    }


/*ポートフォリオ*/
	.contents{
		width: 100%;
	}

	.container{
		width: 100%;
	}

	.img1{
		display: none;
	}

	.img2{
		margin: 0 auto;
	}

	.img3{
		display: none;
	}

	.img4{
		margin: 12px auto;
	}

	.img5{
		display: none;
	}

	.img6{
		margin: 0 auto;
	}

	.upbox{
	 margin-bottom: 0;
}

/*フィーチャー*/
	.sub-contents2{
		padding: 90px 0;
	}

	.container2{
		width: 100%;
		margin: 0 auto;
	}

	.box1{
		float: none;
		width: 100%;
		margin: 0 auto;
	}
	
	.box2{
		margin: 30px auto;
	}

	.strengh-text{
		text-align: center;
	}

/*プロフィール*/
	.plofile-contents{
		width: 100%;
	}

	.plofile-name{
		float: none;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}

	.profile-img{
		float: none;
		width: 100%;
		margin: 30px auto;
	}	


/*コンテンツ*/
	.contents-box-1{
		float: none;
	}

	.contents-box-2{
		float: none;
		padding-top: 26px;
		text-align: center;
	}
	.contents-title{
		text-align: center;
	}

	.add{
		text-align: center;
	}
	nav{
		position: fixed;
}

}


